
.mycontainer {
    display: flex;
}
.my-col, .my-row {
    
    border: black;
    border-style: solid;
    border-width: 3px;
}

.head {
    font-family: 'Cantarell', sans-serif;
    font-size: 30px;

}